.tasks-styles {
    display: flex;
    
}

.card-style {
    width: 300px;
    margin: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
}

.title-img {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.options-style {
    display: flex;
    gap: 10px;
}

.options-style img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
}

.title-img img {
    width: 30px;
    cursor: pointer;
}

.desc-style {
    min-height: 150px;
    overflow-y: auto;
}

