body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* in a global stylesheet or CSS file */
.css-1xj4ldk, .css-17t4t6r { /* These classes might be different for you. They represent the modal's outer container */
  z-index: 10000 !important; /* Setting a high z-index to ensure modal is on top */
}
